<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>API Usage Chart</title>
    <!-- 引入 echarts 5 库 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <div id="chart" style="width: 800px; height: 600px;"></div>
    <script>
        // 初始化 echarts 实例
        var myChart = echarts.init(document.getElementById('chart'));

        // 发起请求获取数据
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/analyze');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var dates = JSON.parse(xhr.responseText).data.dates;
                var count_random = JSON.parse(xhr.responseText).data.count_random;
                var count_all = JSON.parse(xhr.responseText).data.count_all;
                var count_count = JSON.parse(xhr.responseText).data.count_count;
                // 配置项
                var option = {
                    title: {
                        text: 'API 访问次数'
                    },
                    tooltip: {},
                    legend: {
                        data:['Usage']
                    },
                    xAxis: {
                        data: dates
                    },
                    yAxis: {},
                    series: [{
                        data: count_random,
                        type: 'line',
                        stack: 'x',
                        areaStyle: {}
                    },
                    {
                        data: count_all,
                        type: 'line',
                        stack: 'x',
                        areaStyle: {}
                    },
                    {
                        data: count_count,
                        type: 'line',
                        stack: 'x',
                        areaStyle: {}
                    },
                    ]
                };

                // 使用刚指定的配置项和数据显示图表
                myChart.setOption(option);
            }
        };
        xhr.send();
    </script>
</body>
</html>
