{% extends 'base.html' %}
{% block header %}<link rel="stylesheet" href="{{ url_for('static', filename='css/swagger-ui.css') }}" />{% endblock %}
{% block body %}
    <div id="swagger-ui"></div>
    <script src="{{ url_for('static', filename='js/swagger-ui-bundle.js') }}" crossorigin></script>
    <script src="{{ url_for('static', filename='js/swagger-ui-standalone-preset.js') }}" crossorigin></script>
    <script>
    window.onload = () => {
      window.ui = SwaggerUIBundle({
        url: '/static/ProxyPoolSystem.openapi.json',
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout",
        tryItOutEnabled: true
      });
    };
    </script>
    <style>
        .topbar {
            display: none;
        }
    </style>
{% endblock %}
