{% extends 'base.html' %}
{% block header %}<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui.css" />{% endblock %}
{% block body %}
    <div id="swagger-ui"></div>
    <script src="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui-bundle.js" crossorigin></script>
    <script src="https://unpkg.com/swagger-ui-dist@4.5.0/swagger-ui-standalone-preset.js" crossorigin></script>
    <script>
    window.onload = () => {
      window.ui = SwaggerUIBundle({
        url: '/static/ProxyPoolSystem.openapi.json',
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout",
        tryItOutEnabled: true
      });
    };
    </script>
    <style>
        .topbar {
            display: none;
        }
    </style>
{% endblock %}
