<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProxyPool System</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@fortawesome/fontawesome-free@6.4.0/css/all.min.css"
      crossorigin="anonymous"
    />
    <style>
        body {
        padding: 2rem;
        }
        .welcome {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        }
        .proxy {
        font-size: 1.5rem;
        }
        .fa-spinner {
        animation: fa-spin 2s infinite linear;
        }
        main {
            text-align:center;
        }
        header {
            text-align:center;
        }
    </style>
  </head>
  <body>
    <header>
      <h1>ProxyPool System</h1>
    </header>
    <main>
        <div class="welcome">欢迎进入代理池系统！</div>
        <div class="proxy">
        <span>随机代理：</span>
        <span id="proxy-result"><i class="fas fa-spinner fa-spin"></i></span>
        <h3></h3>
        <span>可用代理数：{{ PROXY_COUNT }}</span>
        <h3></h3>
        <span>文档</span>
        </div>
    </main>
    <div style="position: relative; width: 100%; 
        padding-top: calc(100% * 720 / 1280); 
        border: 2px white solid;">
        <iframe src="/docs/api/" title="ProxyPool Docs" 
        style="position: absolute; width: 100%; height: 100%; top: 0;">
        </iframe>
    </div>
    <script src="https://unpkg.com/jquery@3.6.4/dist/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $.get("/api/random", function (data) {
          $("#proxy-result").text(data);
        });
      });
    </script>
  </body>
</html>
