{% extends 'base.html' %}
{% block title %}{% if admin_pm %}完成管理员配置{% else %}注册{% endif %}{% endblock %}
{% block header %}
    <style>
        .card {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 60%;
            height: 80%;
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-title"><p></p><h3>{% if admin_pm %}完成管理员配置{% else %}注册{% endif %}</h3></div>
        <div class="card-body">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <form method="POST" action="{{ url_for('register') }}" id="form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名" required>
                <label for="username">{% if admin_pm %}管理员名称{% else %}用户名{% endif %}</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
                <label for="password">密码</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="确认密码" required>
                <label for="confirm_password">确认密码</label>
            </div>
            <h2></h2>
            <button onclick="submit_form()" class="btn btn-primary">注册</button>
        </form>
            <h2></h2>
        {% if not admin_pm %}<p>已经有了账号? <a href="{{ url_for('login') }}">登录</a></p>{% endif %}
        </div>
    </div>
    <script>
    function submit_form(){
        if(document.getElementById("password").value === document.getElementById("confirm_password").value){
            document.getElementById("form").submit();
        }
        else{
            alert("两次输入的密码不匹配，请重新输入");
        }
    }
    </script>
{% endblock %}